/* resetting rules */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Bai Jamjuree", sans-serif;
  scroll-behavior: smooth;
}
body {
  background-image: url(/images/bgbg.webp);
}
/* nav sections */
.navbar-brand {
  font-size: 30px;
  font-weight: bold;
  text-shadow: 9px 9px 6px rgba(50, 48, 48, 0.548);
}
.navbar {
  margin: 10px 5px 20px;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid #c1bdbd8d;
  background-color: #eeeeef27;
  backdrop-filter: blur(10px);
  box-shadow: 9px 15px 9px rgba(89, 77, 78, 0.5);
  font: 15px bold;
}
.navbar-nav {
  margin: 0 auto;
  font-weight: 500;
}
.navbar-toggler {
  background-color: #c21f1f;
  padding: 3px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 7px 5px 5px rgb(89, 77, 78);
}
.btn {
  border-radius: 10px;
  background-color: #c21f1f;
  color: white;
  box-shadow: 3px 3px 3px rgb(89, 77, 78);
  transition: 0.3s;
}
@media screen and (min-width: 1024px) {
  .nav-link {
    border: 1px solid #938f8f5b;
    border-radius: 10px;
    width: 90px;
    text-align: center;
    background-color: #e1ddd86f;
    box-shadow: 7px 5px 5px rgba(115, 73, 73, 0.26);
    transition: all 0.8s;
  }
  .nav-link:hover {
    background-color: #504f4e75;
    color: whitesmoke;
    box-shadow: 30px 6px 5px rgba(115, 73, 73, 0.26);
    transform: scale(1);
  }
}

/* Home.html CSS */

/* carousel slides */
.carousel {
  margin: 30px auto;
  height: 450px;
  border-radius: 15px;
  border: 1px solid #c1bdbd8d;
  box-shadow: 9px 15px 9px rgba(89, 77, 78, 0.5);
}
.carousel-inner,
.carousel-item img {
  border-radius: 15px;
  height: 450px;
  width: 100%;
}
.carousel-caption {
  background-color: #78767674;
  color: whitesmoke;
  text-shadow: 1px 1px 9px #c21f1f;
}

/* <!-- video & categories  section  -->*/

/* video  */
.vdcontiner {
  box-shadow: 9px 15px 9px rgba(126, 126, 126, 0.5);
  background-color: black;
  border-radius: 15px;
}
.vdcontiner video {
  border-radius: 15px;
  padding: 10px;
  background-color: black;
}
/* categories */
.categories-title {
  text-align: center;
  padding: 10px;
  text-decoration: underline;
}

.categories-card {
  text-align: center;
  margin: 5px auto;
  height: 100%;
  background: #89868642;
  backdrop-filter: blur(10px);
  border-radius: 15px;
  border: 1px solid #c1bdbd8d;
  box-shadow: 9px 15px 9px rgba(89, 77, 78, 0.5);
}
.categories-text {
  margin: 15px;
}
.categories-btn {
  padding: 10px;
  margin: 0 auto;
  width: 200px;
  font-weight: bold;
  font-size: 12px;
  background: rgba(245, 245, 245, 0.563);
  border-radius: 15px;
  box-shadow: 3px 3px 3px rgba(89, 77, 78, 0.5);
  text-decoration: none;
  color: black;
  display: block;
  transition: 0.1s;
}

/* offer section */

.offer-cardform {
  padding: 10px;
  background: #89868642;
  backdrop-filter: blur(10px);
  border-radius: 15px;
  border: 1px solid #c1bdbd8d;
  box-shadow: 9px 5px 9px rgba(89, 77, 78, 0.5);
}
.offer-title {
  margin-bottom: 30px;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
}
.img-fluid {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  box-shadow: 10px 10px 9px rgba(89, 77, 78, 0.5);
}
.card-title {
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
}
.card-text {
  line-height: 1.8rem;
  text-align: start;
}
.card-btn {
  padding: 10px;
  font-weight: bold;
  font-size: 12px;
  width: 100%;
  display: block;
  text-align: center;
  margin-top: 10px;
  border: none;
  text-decoration: none;
  border-radius: 15px;
  color: black;
  background: rgba(245, 245, 245, 0.563);
  box-shadow: 3px 3px 3px rgba(89, 77, 78, 0.5);
  transition: 0.1s;
}
.card-btn:hover,
.categories-btn:hover,
.btn:hover {
  box-shadow: 1px 1px 1px rgba(89, 77, 78, 0.5);
}

/* Menu.html CSS */

.menucardform {
  margin: 10px;
  height: fit-content;
  padding: 20px;
}
.menucard {
  background: #89868642;
  backdrop-filter: blur(10px);
  height: 100%;
  box-sizing: border-box;
  border-radius: 15px;
  border: 1px solid #c1bdbd8d;
  box-shadow: 9px 15px 9px rgba(89, 77, 78, 0.5);
}
.card-img {
  position: absolute;
  top: -10%;
  left: 5%;
  width: 110px;
  height: 120px;
}
.menucard-title {
  font-weight: bold;
  margin-top: 10px;
  text-align: right;
  margin-right: 20px;
}
.menucard-text {
  text-align: left;
  padding: 10px;
  margin-top: 35px;
  height: 70px;
  overflow: hidden;
}
.menucard-price {
  font-weight: bold;
}
.menubtn {
  text-align: center;
  margin-top: -20px;
}
.menucard-btn {
  text-decoration: none;
  color: black;
  background: rgba(245, 245, 245, 0.563);
  width: 150px;
  display: block;
  margin: 7px auto;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 3px 3px 3px rgba(89, 77, 78, 0.5);
  transition: 0.1s;
}
button {
  border: none;
  background: none;
}
.menucard-btn:hover {
  box-shadow: 1px 1px 1px rgba(89, 77, 78, 0.5);
}
/* Bean.html CSS */
.bean-img {
  position: absolute;
  top: -20%;
  left: -15%;
  margin-left: -5%;
  width: 220px;
  height: 130px;
}

table,
td,
th {
  padding: 6px;
  border: 1px solid;
  margin: 10px auto;
}

/* About.html CSS */
.card {
  background-color: rgba(245, 245, 220, 0.011);
  border: none;
}
.cardimg img {
  width: 100%;
  height: 480px;
  margin-bottom: 40px;
  border-radius: 15px;
}
.cardimg-2 img {
  border-radius: 15px;
  float: left;
  width: 400px;
  height: 100%;
  margin: 20px 20px 20px 0px;
}
.cardbody {
  line-height: 1.8rem;
  font-size: large;
}

/* Login.html CSS */

.login-form {
  margin: 30px auto;
  padding: 30px;
  border-radius: 15px;
  border: 1px solid #c1bdbd8d;
  box-shadow: 9px 15px 9px rgba(89, 77, 78, 0.5);
  font-size: 1.2rem;
  background-color: #eeeeef27;
  backdrop-filter: blur(10px);
}

.login-title {
  margin: 0px auto;
  text-align: center;
}
.login-card {
  margin: 20px auto;
  width: 50vw;
  border-radius: 10px;
  padding: 10px;
  background: #89868642;
  backdrop-filter: blur(10px);
  border: 1px solid #c1bdbd8d;
  box-shadow: 4px 8px 9px rgba(89, 77, 78, 0.5);
}
.login-user {
  padding: 20px;
  margin: 0 30px;
}
.form-control {
  height: 40px;
}
.login-forgotpw {
  margin: 20px auto;
  text-align: center;
}
.sign-in-btn {
  padding: 10px;
  margin: 10px auto;
  width: 100%;
  border-radius: 15px;
  display: block;
  border: none;
  box-shadow: 3px 3px 3px rgba(89, 77, 78, 0.5);
  transition: 0.1s;
}
.sign-in-btn:hover {
  box-shadow: 1px 1px 1px rgba(89, 77, 78, 0.5);
}

/* footer section */
.bgfoundation {
  margin: 30px auto;
  padding: 30px;
  border-radius: 15px;
  border: 1px solid #c1bdbd8d;
  box-shadow: 9px 15px 9px rgba(89, 77, 78, 0.5);
  background-color: #eeeeef27;
  backdrop-filter: blur(10px);
}
.footer-title {
  margin-bottom: 20px;
  text-decoration: underline;
  text-align: center;
}
ul li a,
li {
  text-decoration: none;
  color: black;
  list-style-type: none;
  line-height: 1.8rem;
}
.footer-copytext {
  text-align: center;
  margin-bottom: 20px;
}
.social-icons a {
  color: black;
  margin-left: 30px;
  font-size: large;
}

@media screen and (max-width: 426px) {
  /* home.html */
  .carousel {
    display: none;
  }
  .img-fluid {
    display: none;
  }
  .categories-card img {
    display: inline-block;
    margin: 20px auto;
  }
  /* About.html */
  .cardimg-2,
  .cardimg {
    display: none;
  }
  /* login.html */
  .login-form {
    background-image: none;
    text-align: center;
  }
  .login-card {
    width: fit-content;
  }
  .login-user {
    text-align: left;
  }
}
