/* resetting rules */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Bai Jamjuree", sans-serif;
  scroll-behavior: smooth;
}
body {
  background-image: url(/images/bgbg.webp);
}
